@tailwind base;
@tailwind components;
@tailwind utilities;



/*Colores primarios*/
.c-azul{
    color: #1226AB;
}
.c-cyan{
    color: #05D1DB;
}

/*Background*/
.bg-cyan-100{
    background-color: (5, 209, 219, 0.1);
}

.bg-sydaeh{
    background: url('src/assets/img/bg-sydaeh.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-sydaeh-2{
    background: url('src/assets/img/bg-sydaeh-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/*BOTONES*/
.btn-rounded-borde{
    border: solid 2px #05D1DB;
    border-radius: 50%;
    padding: 10px 50px;
    color: #1226AB;
    font-size: 1.5rem;
}
.btn-rounded-borde-cyan{
    border: solid 2px #05D1DB;
    border-radius: 24px;
    padding: 10px 50px;
    color: #1226AB;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #05D1DB;
}

/*Otros*/
.scale-up{
    transform: scale(1.5);
}

hr {
    margin: 10px 0;
    height: 20px;
    width: 30%;
    background-color: #05D1DB !important;
    opacity: 1;
}

.ml-n1 {
    margin-left: -0.25rem !important;
  }
.ml-n2 {
    margin-left: -0.5rem !important;
  }
.ml-n3 {
    margin-left: -0.75rem !important;
  }